<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>namebench (v2 alpha)</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/index.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
      <h1>namebench</h1>
      <p class="lead">Find the fastest DNS server, tuned just for you.</p>

      <div class="jumbotron">
      <form class="form-inline" role="form" method="post">
        <fieldset>
          <div class="form-group">
            <label for="browser">Browser</label>
            <select id="browser" class="form-control">
              <option>Google Chrome</option>
            </select>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <select id="country" class="form-control">
              <option>United States of America</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Start!</button>
        </fieldset>
      </form>
    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
