[base]
version=2

[sanity]
A a.root-servers.net.=198.41.0.4
A google.com.=74.125.,66.102.9.,66.102.11.,66.102.13.,66.102.7.,66.102.9.,209.85.1,209.85.22,209.85.231,64.233.16,64.233.17,64.233.18,66.249.8,66.249.9,72.14.2,216.239.3,216.239.4,216.239.5,216.239.6,150.101.98,210.8.185
A www.facebook.com.=69.63.17,69.63.18,69.63.190,69.63.191,66.220.14,66.220.15,www.facebook.com.edgesuite.net.
A www.google.com.=www.l.google.com.,www-tmmdi.l.google.com
A www.google-analytics.com.=www-google-analytics.l.google.com.
A static.ak.fbcdn.net.=static.ak.facebook.com.edgesuite.net.,a749.g.akamai.net.
A safebrowsing.clients.google.com.=clients.l.google.com.

[sanity-secondary]
# The rest are run later
A twitter.com.=168.143.162.,128.121.146.,128.121.243.,168.143.171.,168.143.161.,128.242.24
A windowsupdate.microsoft.com.=windowsupdate.microsoft.nsatc.net.
A www.paypal.com.=66.211.169.,64.4.241.

# These are not enabled by default.
[censorship]
# Pornography
A youporn.com.=74.86.111.,67.228.129.
#A spy-clips.com.=84.2.34.
A img.4chan.org.=204.152.204.
#A 12chan.org.=93.174.93.98
A motherless.com.=69.80.23

# Torrents
A www.piratebay.org.=194.71.107.
A isohunt.com.=208.71.112.

# TOR
A tor.eff.org.=eff.org.

# Gambling
A www.goldenpalace.com.=200.124.141.
A www.partypoker.com.=195.81.248.,212.30.5

# Extremist
A www.stormfront.org.=174.120.157.
A www.kavkazcenter.com.=88.80.5.
# This site went down on May 31st, 2010
#A chimpout.com.=72.46.13

# Misc
A wikileaks.org.=88.80.28.,88.80.13.,88.80.2
A www.lapsiporno.info.=213.157.65.
A rapidshare.com.=195.122.131.
A www.anonymizer.com.=168.143.113.
A www.youtube.com.=youtube-ui.l.google.com.
A www.stopkinderporno.com.=92.48.206.35
A justin.tv.=199.9.24

# Political
A www.malaysia-today.net.=mt.platform-m.com.
A www.thesouthasian.org.=.yahoo.com.
A balochvoice.com.=69.89.31.
A liberalthai.wordpress.com.=lb.wordpress.com.
A uddthailand.com.=74.52.22
A www.armtoday.info.=87.242.11
A www.aawsat.com.=83.244.20


