Fastest individual response (in milliseconds):
----------------------------------------------
{% for item in lowest_latency %}{{ "%-16.16s %s %2.5f\n"|format(item[0], item[1], item[2]) }}{% endfor %}
Mean response (in milliseconds):
--------------------------------
{% for item in mean_duration %}{{ "%-16.16s %s %2.2f\n"|format(item[0], item[1], item[2]) }}{% endfor %}
Response Distribution Chart URL (200ms):
----------------------------------------
{{ distribution_url_200 }}

Response Distribution Chart URL (Full):
---------------------------------------
{{ distribution_url }}

Recommended configuration (fastest + nearest):
----------------------------------------------
{% for ns in recommended %}{{ "nameserver %-15.15s # %s  %s\n"|format(ns.ip, ns.name, ns.warnings_string) }}{% endfor %}

{% if compare_title %}
********************************************************************************
In this test, {% if best_ns.ip == system_primary %}Your current primary DNS server{% else %}{{ best_ns.name }}{% endif %} is {{ compare_title }}: {{compare_subtitle }} {% if compare_reference.ns %}than {% if compare_reference.ip == system_primary %}your current primary DNS server{% else %}{{ compare_reference.name }}{% endif %}{% endif %}
********************************************************************************
{% endif %}
