<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>namebench: {{ timestamp }}</title>
  <style type="text/css">
    {% include "style.css" %}
  </style>
</head>
<body>

<div id="container">
<div id="big_summary" class="greybox">
	In this test, <strong>{% if best.ip == system_primary %}Your current primary DNS server{% else %}{{ best.name }}{% endif %}</strong> is
	<h1>{{ "%0.0f"|format(comparison.percent) }}% <span id="sumverb">Faster</span></h1>
	than {% if comparison.ns.ip == system_primary %}your current primary DNS server{% else %}{{ comparison.ns.name }}{% endif %}
</div>

<div id="recommended_config" class="greybox">
	<h4>Recommended configuration (fastest + nearest)</h4>
	<table>
	{% for ns in recommended %}
	<tr>
	  <td>{% if loop.index == 1 %}Primary{% elif loop.index == 2 %}Secondary{% else %}Tertiary{% endif %} Server</td>
    <td><div class="ip">{{ ns.ip }}</div></td><td class="rec_name">{% if ns.name != ns.ip %}{{ ns.name }}{% endif %}</td>
	</tr>
{% endfor %}
  </table>
</div>


<h2>Tested DNS Servers</h2>

<div id="nsdetails">
<table id="nstable">
<thead>
<tr>
  <td nowrap="nowrap">IP</td>
  <td nowrap="nowrap">Descr.</td>
  <td nowrap="nowrap">Hostname</td>
  <td nowrap="nowrap">Avg (ms)</td>
	<td nowrap="nowrap">Min</td>
	<td nowrap="nowrap">Max</td>
  <td nowrap="nowrap">Err</td>
  <td nowrap="nowrap">NoAns</td>
  <td>Notes</td>
</tr>
</thead>
{# (ns, overall_average, run_averages, fastest, slowest, failure_count, nx_count) #}
{% for row in nameserver_details %}
<tr class="{% if row.0.disabled %}disabled{% else %}normal{{ loop.cycle(' odd ', ' even')}}{% endif %}{% if row.0.system_position == 0 %} primary_row{% endif %}{% if row.0.is_error_prone %} unhealthy_host{% endif %}">
  <td>{{ row.0.ip }}</td>
  <td>{{ row.0.name }}</td>
  <td>{{ row.0.hostname }}</td>
  <td>{{ "%0.2f"|format(row.1) }}</td>
  <td>{{ "%0.2f"|format(row.3) }}</td>
  <td>{{ "%0.2f"|format(row.4) }}</td>
  <td {% if row.5 != 0 %}class="error_count"{% endif %}>{{ row.5 }}</td>
  <td>{{ row.6 }}</td>
  <td><ul class="warnings">
	{% if row.0.system_position == 0 %}<li>Your current primary DNS server</li>{% endif %}
	{% if row.0.disabled %}
	    <li><strong>{{ row.0.disabled|e }}</strong></li>
	{% else %}
    	{% for warning in row.0.warnings %}
    		<li>{{ warning|e }}</li>
        {% endfor %}
    {% endif %}
	</ul>
  </td>
</tr>
{% endfor %}
</table>
</div>


<h2>Graphs</h2>

<div id="graphs" class="section">
<h2>Mean Response Duration</h2>
<img src="{{ mean_duration_url }}" alt="Mean Duration Graph" />

<h3>Fastest Individual Response Duration</h3>
<img src="{{ min_duration_url }}" alt="Fastest Response Graph" />

<h3>Response Distribution Chart (First 200ms)</h3>

<img src="{{ distribution_url_200 }}" alt="Response Distribution Graph (first 200ms)" />

<h3>Response Distribution Chart (Full)</h3>

<img src="{{ distribution_url }}" alt="Response Distribution Graph (full)" />
</div>

{% if csv_link %}
<h2>Query Details</h2>

<div id="details" class="section">
View the details in <a href="{{ csv_link }}">Comma Separated Values (csv)</a> format.
</div>
{% endif %}

{% if config %}
<h2>Configuration</h2>


<div id="config" class="section">
<table id="configtable">
	<thead><tr><td>Name</td><td>Value</td></tr></thead>
	{% for item in config %}
	  <tr><td>{{ item.0 }}</td><td>{{ item.1 }}</td></tr>
	{% endfor %}
</table>
</div>
{% endif %}
</div>
</body>
</html>

