<html>
<head><title>namebench: {{ timestamp }}</title></head>
<body>

<h2>Recommended configuration (fastest + nearest)</h2>

<ul>
{% for ns in recommended %}
  <li>
  <strong>
  {% if loop.index == 1 %}Primary{% elif loop.index == 2 %}Secondary{% else %}Tertiary{% endif %}
  : {{ ns.ip }}</strong>
  </li>
{% endfor %}
</ul>

<h2>Nameserver Details</h2>

<table>
<tr>
  <td>IP</td>
  <td>Hostname</td>
  <td>Description</td>
  <td>Mean Request</td>
  <td>Error Count</td>
  <td>Notes</td>
</tr>
{% for row in nameserver_details %}
<tr>
  <td>{{ row.0.ip }}</td>
  <td>{{ row.0.hostname }}</td>
  <td>{{ row.0.name }}</td>
  <td>{{ "%0.2f"|format(row.1) }}</td>
  <td>{{ row.3 }}</td>
  <td>{{ row.0.warnings_string }}</td>
</tr>
{% endfor %}
</table>

<h2>Mean Response Duration</h2>
<img src="{{ mean_duration_url }}">

<h2>Fastest Individual Response Duration</h2>
<img src="{{ min_duration_url }}">

<h2>Response Distribution Chart (First 200ms)</h2>

<img src="{{ distribution_url_200 }}">

<h2>Response Distribution Chart (Full)</h2>

<img src="{{ distribution_url }}">


</body>
</html>
