<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>namebench: {{ timestamp }}</title>
  <style type="text/css">
    {% include "style.css" %}
  </style>
</head>
<body>

<div id="container">
{% if sharing_url %}<div id="notice">Thanks for uploading your results! Your URL: <a href="{{ sharing_url }}">{{ sharing_url }}</a> ({{ sharing_state }})</div>{% endif %}
<div class="version">namebench {{ version }}</div>


<div id="big_summary" class="greybox">
	<h4><strong>{% if best_ns.ip == system_primary %}Your current primary DNS server{% else %}{{ best_ns.name }}{% endif %}</strong> is</h4>
{% if compare_reference.ip != best_ns.ip %}
	<h1>{{ compare_title }}</h1><h5 class="faster">{{ compare_subtitle }}</h5>
	<h4>{% if compare_reference.name %}than {% if compare_reference.ip == system_primary %}your current primary DNS server{% else %}{{ compare_reference.name }}{% endif %}{% endif %}</h4>
{% else %}
	<h1>Fastest</h1>
	<h4></h4>
{% endif %}
</div>

<div id="recommended_config" class="greybox">
	<h4>Recommended configuration (fastest + nearest)</h4>
	<table>
	{% for ns in recommended %}
	<tr>
	  <td>{% if loop.index == 1 %}Primary{% elif loop.index == 2 %}Secondary{% else %}Tertiary{% endif %} Server</td>
    <td><div class="ip">{{ ns.ip }}</div></td><td class="rec_name">{% if ns.name != ns.ip %}{{ ns.name }}{% endif %}</td>
	</tr>
{% endfor %}
  </table>
</div>


<h2>Tested DNS Servers</h2>

<div id="nsdetails">
<table id="nstable">
<thead>
<tr>
  <td nowrap="nowrap">IP</td>
  <td>Descr.</td>
  <td nowrap="nowrap">Hostname</td>
  <td nowrap="nowrap">Avg (ms)</td>
  <td nowrap="nowrap">Diff</td>
	<td nowrap="nowrap">Min</td>
	<td nowrap="nowrap">Max</td>
  <td nowrap="nowrap">TO</td>
  <td nowrap="nowrap">NX</td>
  <td>Notes</td>
</tr>
</thead>
{# (ns, overall_average, run_averages, fastest, slowest, failure_count, nx_count) #}
{% for row in ns_summary %}
<tr class="{% if row.is_disabled %}disabled{% else %}normal{{ loop.cycle(' odd ', ' even')}}{% endif %}{% if row.sys_position == 0 %} primary_row{% endif %}{% if row.is_error_prone %} unhealthy_host{% endif %}">

  <td class="ip_cell"><a href="http://www.google.com/search?q={{ row.ip}}" class="info">{{ row.ip }}{% if row.version %}<span>{{ row.version }}</span>{% endif %}</td>
  <td class="name_cell">{{ row.name }}</td>
  <td class="hostname_cell"><a href="http://www.google.com/search?q={{ row.hostname}}" class="info">{{ row.hostname }}{% if row.node_ids %}<span>{% for node in row.node_ids %}{{ node }} {% endfor %}</span>{% endif %}</a></td>
  <td>{% if row.overall_average %}{{ "%0.2f"|format(row.overall_average) }}{% else %}{{ "%0.2f"|format(row.check_average) }}{% endif %}</td>
  <td>{% if row.diff %}{{ "%0.1f"|format(row.diff) }}%{% endif %}</td>
  <td>{% if row.duration_min %}{{ "%0.1f"|format(row.duration_min) }}{% endif %}</td>
  <td>{% if row.duration_max %}{{ "%0.1f"|format(row.duration_max) }}{% endif %}</td>
  <td {% if row.timeout_count != 0 %}class="error_count"{% endif %}>{{ row.timeout_count }}</td>
  <td>{{ row.nx_count }}</td>
  <td class="notes_cell">
  {% if row.notes %}
    <ul class="warnings">
      {% for note in row.notes %}
      <li>{% if note.url %}<a href="{{ note.url }}">{% endif %}{{ note.text }}{% if note.url %}</a>{% endif %}</li>
      {% endfor %}
	</ul>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>
</div>


<h2>Graphs</h2>

<div id="graphs" class="section">
<h2>Mean Response Duration</h2>
<img src="{{ mean_duration_url }}" alt="Mean Duration Graph" />

<h3>Fastest Individual Response Duration</h3>
<img src="{{ min_duration_url }}" alt="Fastest Response Graph" />

<h3>Response Distribution Chart (First 200ms)</h3>

<img src="{{ distribution_url_200 }}" alt="Response Distribution Graph (first 200ms)" />

<h3>Response Distribution Chart (Full)</h3>

<img src="{{ distribution_url }}" alt="Response Distribution Graph (full)" />
</div>

{% if csv_link %}
<h2>Query Details</h2>

<div id="details" class="section">
View the details in <a href="{{ csv_link }}">Comma Separated Values (csv)</a> format.
</div>
{% endif %}

{% if config %}
<h2>Configuration</h2>


<div id="config" class="section">
<table id="configtable">
	<thead><tr><td>Name</td><td>Value</td></tr></thead>
	{% for item in config %}
	  <tr><td>{{ item.0 }}</td><td>{{ item.1 }}</td></tr>
	{% endfor %}
</table>
</div>
{% endif %}
</div>
</body>
</html>

