body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #005522;
}

#container {
  margin: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: #f5f5f5;
  padding: 1em;
  border: 2px solid #000;
}

h2 {
	padding-top: 1em;
	clear:  both;
	font-size: 1.1em;
}

h3 {
	font-size: 0.9em;
	padding-top:  0;
	margin-top: 0;
}

#nsdetails {
	display: block;
	background-color:  #C2CFF1;
	border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	padding-left:  3px;
	padding-bottom: 3px;
	padding-right:  3px;
	margin-left: 1em;
}
table#nstable {
	width:  100%;
	border-collapse:  collapse;
}
#nstable tr {
	vertical-align:  top;
}

.ip {
  margin-left: 1em;
  font-weight: bold;
  font-family: monospace;
  border: 1px solid #999;
  background-color: #eee;
  width: 10em;
  padding: 1px;
  color: #000;
}

ul.warnings {
	padding:  0;
	margin:  0;
	margin-left: 0.4em;
	list-style-position:  inside;
}
.warnings li {
}
#nstable td {
	padding:  3px;
	font-size: small;
	border-right:  1px solid #C2CFF1;
}

.even {
	background-color: #fff
}
.odd {
	background-color: #ebeff9;
}

.unhealthy_host {
    background-color: #FFD6D8;
    border-bottom: 1px solid #990000;
    border-top: 1px solid #990000;
}

.primary_row {
  font-weight: bold;
  background-color: #FFFFEE;
  border-top: 1px solid #EEEE00;
  border-bottom: 1px solid #EEEE00;
}

.disabled {
	background-color:  #333;
	border-bottom: 1px solid #666;
	color: #fff;
}

.greybox {
	border:  1px solid #bbb;
	border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	padding:  1em;
	height:  11em;
	background-color:  #fff;
}

#big_summary {
	display: inline-table;
	float:  left;
	text-align:  center;
	width: 24em;
}

#recommended_config {
    float: right;
	display:  inline-table;
}

h1 {
	color: #00CC33;
	font-size: 86px;
	text-shadow: 3px 3px #eee;
        margin: 0;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
}

#sumverb {
	font-size:  0.45em;
	font-style: italic;
	text-shadow: none;
}

.rec_name {
	margin-left:  8px;
	display:  inline;
	color:  #999;
}

.section {
	margin-left:  1em;
	padding: 1em;
	background-color:  #fff;
        max-width: 910px;
}

#config {
	 background-color:  #fff;
}
#configtable {
	font-size: 10px;
}

#configtable tr {
	border:  9px solid #f00;
}

thead {
	font-weight:  bold;
}

h2:before {
	color:  #555;
	content:  '\25BA';
	padding-right:  0.25em;
}


input[type=text] {
  color: #000;
}

.normal .error_count {
  background-color: #900;
  color: #fff;
}

