<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <link href="/media/style.css" rel="stylesheet" type="text/css" />
  <title>namebench reports site</title></head>
<body>
  <div id="container">  
  <h1>Recent Submissions</h1>
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Location</td>
        <td>Network</td>
        <td>Best</td>
        <td>Queries</td>
        <td>Timestamp</td>
      </tr>
    </thead>
    <tbody>
{% for submission in recent_submissions %}
<tr {% if not submission.listed %} style="background-color: #aaa;"{% endif %}>
  <td><a href="/id/{{ submission.key.id }}">{{ submission.key.id }}</td>
  <td>{% if submission.region %}{{ submission.region }}, {{ submission.country }} {% else %} {% if submission.country %} {{ submission.country }} {% else %} Unknown {% endif %} {% endif %}</td>
  <td>{{ submission.class_c }}.x</td>
  <td>{{ submission.best_nameserver.ip }}</td>
  <td>{{ submission.query_count }}</td>
  <td>{{ submission.timestamp }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</body>
</html>
